# Notebook 5: Pandas

In this notebook, we will look at the package `pandas`. `pandas` is built on top of `numpy` (see Notebook 4 for more on `numpy`) and specializes in dealing with heterogenous and/or missing data often stored in a labelled format. 

As this is an introductory course we will only give a brief introduction to `pandas` and a flavour of why it may be useful to you. For more information see the [`pandas` documentation here](https://pandas.pydata.org/pandas-docs/stable/).

The strength of `pandas` lies in it's ability to handle database and spreadsheet type operations that may be more familiar to users of languages such as `R` and `SQL`. 

 > **Note:** By convention, `pandas` is often aliased as `pd`.

In [ ]:
import pandas as pd
import numpy as np

## Pandas dataypes

The world of `pandas` revolves predominantly around the `Series` and `DataFrame` datatypes. We shall look at each one of these in turn now.

### Pandas `Series`

A `pandas` `Series` object is an indexed one-dimensional array of data.`

In [ ]:
example_series = pd.Series([2.1,3.9,4.2])
print(example_series)

We can convert a `pandas` `Series` to a `numpy` `array` very easily using the `values` attribute and we can access the elements of a `Series` using square brackets in the same way we would a one-dimensional `numpy` array.

In [ ]:
print(example_series.values)
print(example_series[0])
print(example_series[0:2])
print(example_series[example_series>3])

However, with a `pandas` `Series` we can change how we index the data. For example:

In [ ]:
example_series = pd.Series([2.1,3.9,4.2],
                           index=['a', 'b', 'c'])

We can now access the data using our both own indices, much like with a Python `dict`, and numerical indices, like a Python `list`.

In [ ]:
print(example_series['b'])
print(example_series[2])

In fact, we can even use `numpy` style array indexing syntax but on our own labels.

 > **Note**: This indexing, unlike `numpy`, is inclusive. For example, `'a':'b'` includes element `'b'`, unlike in `numpy` where `0:2` does not include element `2`.

In [ ]:
print(example_series['a':'b'])

 > **Note:** If we use a number as an index for a column; our indices take precedence over the inbuilt `numpy` like indexing. For example:

In [ ]:
example_series = pd.Series([2.1,3.9,4.2],
                           index=[2, 'b', 'c'])
print(example_series[2])

We can construct a `pandas` `Series` object from a `dict` like so:

In [ ]:
example_dict = {'a': 1, 'b': 33, 'c': 2}
print(example_dict)
print(pd.Series(example_dict))

 > **Note:** If we use the `index` keyword when creating a `series` object from a `dict` only the object with a key in our `index` list will be retained. For example:

In [ ]:
example_dict = {'a': 1, 'b': 33, 'c': 2}
print(example_dict)
print(pd.Series(example_dict, index=['a','c']))

## Pandas `Dataframes`

A `pandas` `DataFrame` object can be thought of as a collection of aligned `pandas` `Series` objects, where by aligned we mean sharing the same index. We can construct a `DataFrame` from several `Series` using the `pandas.DataFrame` object. For example:

In [ ]:
# Series of heights in inches
heights = pd.Series({'Pete': 69, 'Mo': 72, 'Katy': 64, 'Alex': 80})
# Series of weights in kg
weights = pd.Series({'Pete': 60, 'Mo': 80, 'Jay': 55, 'Claire': 70})

example_dataframe = pd.DataFrame({'heights': heights, 'weights': weights})

# In this notebook we can display a pandas dataframe in a
# nice format without printing just by typing the dataframes
# name.
example_dataframe

We can also construct a `DataFrame` from a list of `dict`s like so:

In [ ]:
# Series of heights in inches
heights = {'Pete': 69, 'Mo': 72, 'Katy': 64, 'Alex': 80}
# Series of weights in kg
weights = {'Pete': 60, 'Mo': 80, 'Jay': 55, 'Claire': 70}

example_dataframe = pd.DataFrame({'heights': heights, 'weights': weights})

example_dataframe

Alternatively we can construct a `DataFrame` from a `numpy` array and label the columns using the `columns` argument:

In [ ]:
example_dataframe = pd.DataFrame(
    np.random.randint(60,80, size=(2, 3)),
    columns=['heights', 'weights', 'favourite number'],
    index=['Joe', 'Catelyn'])

example_dataframe

## Getting indices

We can retrieve the indices from a `Series` or `DataFrame` easily using the `index` attribute.

In [ ]:
print(example_series.index)
print(example_dataframe.index)

We can also receieve the column headers from a `DataFrame` using the `columns` attribute.

In [ ]:
print(example_dataframe.columns)

## Working with Pandas

The `pandas` datatypes are incredibly useful and efficient when dealing with heterogeneous data. In this section we will give a, by no means comprehenive, selection of useful functions that `pandas` offers. We will use the below `DataFrame` in the following examples.

In [ ]:
example_dataset = pd.DataFrame.from_dict({
                    'eyelash_length': np.random.rand(50),
                    'subject_ID': np.arange(50),
                    'birth_year': np.random.randint(1980, 1990, size=50),
                    'group': list('aabcdeacbeabcabcdeeedcdaebcaeddeacbeabcaddabbcecdb'),
                    'sex': list('MMMFMFFMFFMMMFMFFMFFMFMFFMFMMFFFMFFFMFMMFMMFFFMFMF')
})

# Add in some missing data
rows = np.random.randint(0,50,size=10)
cols = np.random.randint(0,5,size=10)
for i in range(10):
    example_dataset.iloc[rows[i],cols[i]]= np.nan

# Show our dataset
example_dataset

### Boolean indexing

We can use Boolean indexing to return subsets of the data. What is particularly nice is that in `Pandas` boolean logic is much easier to interpret, due to the use of column names. For example, hopefully the below line of code should be fairly intuitive;

In [ ]:
example_dataset[(example_dataset['sex']=='M') & 
                (example_dataset['birth_year']>1987)]

 > **Note:** When using multiple boolean statements always use `()` brackets to make your logic clearer and less susceptible to coding errors.

This above is useful but the notation is a bit clunky - we had to type `example_dataset` four times to do this operation. We can do this a lot more easily with the `query` function.

### Querying

We can perform the same operation as in the above section with much cleaner syntax using the `query` method like so:

In [ ]:
example_dataset.query('(sex == "M") & (birth_year > 1987)')

 > **Warning:** The `query` function may have problems with column names which can't be used as python identifiers (for example column names including a space). This is a common cause of `SyntaxError`'s for users new to `Pandas`.

### Removing `NaN`s

When selecting data we may wish to first remove `NaN` values/missing data which could interfere with our logic. We can locate and remove all rows with `NaN` values in a specified column by using the `isna` function like so:

In [ ]:
# Remove all subjects for whom we didn't record sex
example_dataset[~example_dataset.sex.isna()]

There is actually a method that lets us do this more in a more neat fashion; the `dropna` method.

In [ ]:
# Remove all subjects with missing sex and birthyear information
example_dataset.dropna(subset=['birth_year', 'sex'])

###  Sorting data

One thing we may wish to do when first looking at data is sort it by a variable we are interested in. Sorting can be done in `pandas` using the `sort_values` method. For example;

In [ ]:
sorted_example = example_dataset.sort_values('birth_year')
sorted_example

If we want to get a row of the new sorted array, we can use the `iloc` function to index it like so:

In [ ]:
sorted_example.iloc[0]

 > **Note:** We can still select the index `0` of the array under it's original ordering using `loc`. It can be very easy to confuse the `loc` and `iloc` methods. It is always worth checking you are using the correct method here!

In [ ]:
sorted_example.loc[0]

### Summarizing by column

Another great strength of the `pandas` package is that, much like `numpy`, it contains several methods for getting summary measures of columns of data. For example:

In [ ]:
# Mean
example_dataset.mean()

In [ ]:
# Standard deviation
example_dataset.std()

In [ ]:
# Count number of non-missing/non-NaN values
example_dataset.count()

One function which is useful as a sanity check whenever you are working in `pandas` is the `describe` method, which gives several common summary statistics of the data.

In [ ]:
example_dataset.describe()

# (The percentages in this table are quantiles)

We can also use our own custom functions to apply to the columns of a `DataFrame` using the `apply` method. For example:

In [ ]:
# Make a T statistic for the t-test that
# the mean=1984
#
# i.e. T = (mean-1984)/(std/sqrt(n))
def tstat1984(series):
    
    # Get T statistic
    tStat = (series.mean()-1985)/(series.std()/np.sqrt(series.count()))
    
    return(tStat)

# Return the T statistics... they should all be large as the mean
# was not zero in any of our examples
example_dataset.select_dtypes(np.number).apply(tstat1984)

 > **Warning:** When applying custom functions to a `DataFrame` you must ensure you specify which datatypes you want to apply your function to. In the above we specified that we wanted to apply our function to any column containing entries that are `np.number` objects (i.e. `np.int64`, `np.float32`, etc...) using the `select_dtypes` function.

The `apply` method actually allows us to apply several functions at once. For example:

In [ ]:
example_dataset.select_dtypes(np.number).apply([tstat1984, 
                                                'mean', 
                                                np.prod])

### Summarizing by groupings

One extremely useful tool is the `groupby` tool which groups the data based on categorical variables of the users choosing. This returns an object, which we can iterate through like so:

In [ ]:
for sex, table_for_category in example_dataset.groupby('sex'):
    
    print(f'Mean age for sex {sex}: {row.birth_year.mean()}')

A more common application of the `groupby` method, however, is combining it with the `apply` function to get summary measures for groups. This is an extremely powerful functionality.

In [ ]:
example_dataset.groupby('group').mean()

We can also take the intersection of multiple categories like so:

In [ ]:
example_dataset.groupby(['sex','group']).mean()

 > **Note:** If one of the entries in the above is `NaN` then there were no subjects of that sex in that group.

We can even do multiple groupings and multiple summary statistics at the same time!

In [ ]:
# Get the mean and median for each (sex, group) combination 
example_dataset.groupby(['sex','group']).aggregate((np.median, np.mean))

We might also want to stratify based on a continuous variable. We can do this easily using the `cut` function like so:

In [ ]:
# Split the years into groups and take their means
example_dataset.groupby(
    pd.cut(example_dataset.birth_year, 
           bins=(1979, 1983, 1986, 1990))).mean()

### Reshaping

Suppose we were interested in the mean `eyelash_length` of every `group` for each `birth_year`. We could do the following;

In [ ]:
example_dataset.groupby(['birth_year','group']).eyelash_length.mean()

However, we have 10 `birth_year`s and 5 `group`s. This leaves us with potentially up to 50 lines in the above table. In this example, we probably wouldn't worry too much but on real data this could result in us getting very large tables very quickly!

One way around this is to use the `unstack` method, which moves one of the groupings in the rows into the columns like so:

In [ ]:
example_dataset.groupby(
                ['birth_year','group']
            ).eyelash_length.mean().unstack('group')

This shorter table is often referred to as "wide form" whilst the taller is referred to as "long form". 

There are many reasons you may want to work with both forms of data. for example, it often more convenient to group data using long form tables but often easier to generate plots with wide form tables. Often, it is also a question of personal preference.

You can convert wide form back to long form using the `stack` method like so:

In [ ]:
# Unstack the dataframe
unstacked = example_dataset.groupby(
                ['birth_year','group']
            ).eyelash_length.mean().unstack('group')

# Stack the dataframe
stacked = unstacked.stack('group')

stacked

There are several alternatives to `stack` and `unstack`, such as  `pivot_table` and `melt`.

`pivot_table` is particularly useful as, not only does it unstack the table, but it also handles grouping at the same time. For example, we could perform the same unstacking operation we did early with `pivot_table` like so:

In [ ]:
stacked = example_dataset.pivot_table('eyelash_length', 
                                      'birth_year', 
                                      'group')
stacked

We can unstack the table we just made with the `melt` method. This is a little more fiddly, however, as the previous example, using `pivot_table` has changed the `birth_year` variable from a column in the table to the row index.

In [ ]:
# Change `birth_year` back to a column
stacked['birth_year'] = stacked.index

# Unstack our table
unstacked = pd.melt(stacked, id_vars=['birth_year'], value_vars=['a','b','c','d','e'],
         var_name='group', value_name='eyelash_length')

# Our table will not be in the original order but we can sort that
# After sorting the indices will be out of order so we reset those.
unstacked.sort_values(['birth_year', 'group']).reset_index()

 > **Note:** Our table is now longer. This is because we have included `NaN`/missing values we didn't include in our original table. We could remove these easily though, for example, with the `dropna` method.

### Reading/Writing files

One final footnote on `pandas` we will mention is that it is extremely fast at reading and writing files.

`pandas` provides a wide range of tools for loading from text files, binary files, and SQL databases. The most commonly used function for this is the `pandas.read_{format}` function. For example, to read `csv` files we can do:

In [ ]:
dataframe_from_csv = pd.read_csv('05_pandas/example_data.csv')

We can also write to a csv using the `pandas.to_csv`  like so:

In [ ]:
X = pd.DataFrame(np.random.randn(1000,1000))

X.to_csv('05_pandas/example_data_we_made.csv')

This is one of the fastest file reading tools in Python and worth knowing about! For example, compare the time `pandas` took to read the example `csv` to the time `numpy` takes.

In [ ]:
import time

# Let's time pandas
t1 = time.time()
array_from_csv = pd.read_csv('05_pandas/example_data.csv').values
t2 = time.time()
print('pandas took ', t2-t1, ' seconds to read the csv file.')

# Now time numpy
t1 = time.time()
array_from_csv = np.loadtxt('05_pandas/example_data.csv', delimiter=',')
t2 = time.time()
print('numpy took ', t2-t1, ' seconds to read the csv file.')

## Using `pandas`

`pandas` is an extremely powerful tool. We have barely scratched the surface on it's capabilities here. To learn more, please see the official [`pandas` documentation here](https://pandas.pydata.org/).

# Exercises

**Question 1:** Read in the file `exercise_dataset.csv` as a pandas DataFrame. We are not interested in the `subject_id` and `age` variables so remove these from the DataFrame. *Hint: The [`drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function may be useful for this*.

In [ ]:
# Write your answer here

**Question 2:** After collecting this data, you have found out that some, an extremely small minority in fact, of the subjects thought it would be funny to deliberately fill out the `favourite_animal` field in your survey with an object that is not an animal! Fearing these subjects may have filled out other values incorrectly, you wish to remove them from the DataFrame immediately.

Investigate the `.value_counts()` function in the [`Pandas` documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html). What does this function do? Use the function to find the rows of the DataFrame with non-animal responses in the `favourite_animal` column and remove the rows from the DataFrame.

In [ ]:
# Write your answer here

**Question 3:** Your research is interested in the relationship between the size of the big toe on the left foot of each subject (`size_of_left_toe`) and the subjects heartrates (`heartrate`). Because of this, you have decided that you don't want to include any subjects which have any `NaN` values in either the `size_of_left_toe` or `heartrate` columns.

Remove all rows of the DataFrame which include `NaN` values in either the `size_of_left_toe` or `heartrate` columns.

In [ ]:
# Write your answer here

**Question 4:** Write a function which takes in a numpy array and a percentage $k$ and returns the k% quantile of the array. Now apply it to the columns of your DataFrame. Check your results against the inbuilt pandas `quantile` function. *Note: You do not have to worry about interpolating values and you can use the `numpy sort` attribute for this question. However, **no other numpy functions** should be used!*


Use boolean indexing, and either your own function or the `quantile` function, to return a DataFrame containing only the subjects who were in the top 5\% quantile for `heartrate` and the bottom 5\% quantile for `size_of_left_toe`.

In [ ]:
# Write your answer here

**Question 5:** The range of the `age` column in the DataFrame is from 10 to 59 years old. Perform the following operations on the DataFrame;

 - Use the `cut` function to seperate subjects into 5 age groups, each of ten years in length. 

 - For each age range, obtain the mean `size_of_left_toe` and mean `heartrate` for both male (`M`) and female (`F`) subjects. Save a Dataframe containing these values as `mean_age_sex`. *Hint: Consider using the `groupby` function.*

 - For each age range, obtain the mean `size_of_left_toe` and `heartrate` for each of the groups listed in the `group` column (i.e. `a`, `b`, `c`, `d` and `e`). Save this in your workspace as `mean_age_group`. 

 - Stack `mean_age_sex` and `mean_age_group` on top of one another using the [`concat` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html). 
 

In practice, this is probably not a good way to lay out this data. List some reasons why you may not wish to lay out the data in this way.

In [ ]:
# Write your answer here...